[loggers]
keys=root,nbd,kvm,hash,net_base,storage,network,tape

[handlers]
keys=fileHandler,nbdFile,kvmFile,hashFile,net_baseFile,storageFile,networkFile,tapeFile

[formatters]
keys=fmt,fmt2

[logger_root]
level=NOTSET
handlers=fileHandler

[logger_nbd]
level=DEBUG
handlers=nbdFile
propagate=0
qualname=nbd_r

[handler_nbdFile]
class=logging.handlers.RotatingFileHandler
args=('/var/log/aio/nbd.log','a',31457280,5,)
formatter=fmt2

[logger_net_base]
level=DEBUG
handlers=net_baseFile
propagate=0
qualname=net_base

[handler_net_baseFile]
class=logging.handlers.RotatingFileHandler
args=('/var/log/aio/net_base.log','a',31457280,2,)
formatter=fmt2

[logger_kvm]
level=DEBUG
handlers=kvmFile
propagate=0
qualname=kvm_r

[handler_kvmFile]
class=logging.handlers.RotatingFileHandler
args=('/var/log/aio/kvm.log','a',31457280,5,)
formatter=fmt2

[logger_hash]
level=DEBUG
handlers=hashFile
propagate=0
qualname=hash_r

[handler_hashFile]
class=logging.handlers.RotatingFileHandler
args=('/var/log/aio/gen_hash.log','a',31457280,5,)
formatter=fmt2

[handler_fileHandler]
class=logging.handlers.RotatingFileHandler
level=DEBUG
formatter=fmt
args=('/var/log/aio/logic_service.log','a',31457280,5,)

[logger_storage]
level=DEBUG
handlers=storageFile
propagate=0
qualname=storage_r

[handler_storageFile]
class=logging.handlers.RotatingFileHandler
args=('/var/log/aio/storage.log','a',31457280,3,)
formatter=fmt2

[logger_network]
level=DEBUG
handlers=networkFile
propagate=0
qualname=network_r

[handler_networkFile]
class=logging.handlers.RotatingFileHandler
args=('/var/log/aio/network.log','a',31457280,3,)
formatter=fmt2

[logger_tape]
level=DEBUG
handlers=tapeFile
propagate=0
qualname=tape_r

[handler_tapeFile]
class=logging.handlers.RotatingFileHandler
args=('/var/log/aio/tape.log','a',31457280,3,)
formatter=fmt2

[formatter_fmt]
format=%(asctime)s - %(name)s - %(levelname)s - %(message)s
datefmt=
class=logging.Formatter

[formatter_fmt2]
format=%(asctime)s - %(levelname)s - %(message)s
datefmt=
class=logging.Formatter
